

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}::selection{
  background: none;
}::-moz-selection{
  background: none;
}

#app{
  position: relative;
}

.Experience{
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#canvas{
  width: 100%;
  height: 100%;
}

.Ui{
  position: absolute;
  right: 0;
  min-height: 100vh;
  background-color: #e3e3e3;
  width: 20%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.header{
  width: 90%;
  height: 40px;
  background-color: #ffbaba;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #ababab;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header:active{
  background-color: #ff0000;
}

.header:hover{
  background-color: #ff8275;
}

.header-child{
  width: 90%;
  margin-top: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 3px #9f9f9f;
  border-radius: 10px;
  transition: all 200ms;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
}::-webkit-scrollbar{
  display: none;
}

.image{
  width: 200px;
  height: 200px;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 1px 1px 3px 3px rgb(139, 139, 139);
  cursor: grab;
}

.spinner {
  display: block;
  z-index: 100;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 10px solid #ccc;
  border-top-color: #ff6055;
  animation: spin 1s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -45px 0 0 -45px; /* Adjust margin to center */
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.image-name{
  font-weight:500;
  margin-top: 15px;
}